/* ----- responsive -------- */

@media (max-width: 321px){
    .copy-right div:first-child {
    font-size: 0.6rem !important;
    }
    .footer-bottom p.ps-4,
    .footer-bottom span.ps-4{
        font-size: 0.7rem;
    }
    div.footer-top-intro div.footer-top-intro-detail {
        width: 22rem !important;
        margin-top: 0.5rem !important;
    }
    div.footer-top-intro-detail h3{
        font-size: 1.2rem !important;
    }
    div.footer-top-intro-detail h4{
        font-size: 1rem !important;
    }
    div.footer-top-intro-detail p{
        font-size: 0.7rem !important;
    }
    div.footer-top-intro-detail h5{
        font-size: 0.8rem !important;
    }
}

@media (max-width: 415px) {
    .vu_w-100{
        width: 100% !important;
    }
    .vu_mt-1{
        margin-top: 1rem !important;
    }
   
    div.vu_d-ssm-none{
        display: none !important;
    }
    .footer-top-intro  div.footer-top-intro-detail {
        width: 25rem !important;
    }
   .footer-top-intro-detail h3{
        font-size: 1.5rem !important;
    }
    .footer-top-intro-detail h4{
        font-size: 1.2rem !important;
    }
    .footer-top-intro-detail p{
        font-size: 0.8rem !important;
    }
    .footer-top-intro-detail h5{
        font-size: 1rem !important;
    }
    .footer-bottom p.ps-4,
    .footer-bottom span.ps-4{
        padding-left: 0 !important;
    }
    .footer-bottom span.ps-4{
        font-size: 0.8rem;
    }
    .copy-right div:first-child {
        font-size: 0.7rem;
        padding-left: 1rem;
    }
    .vu_w-50{
        width: 50% !important;
    }
    iframe.iframe.iframe-smd.ssm {
        height: 150px !important;
    }
}

@media (max-width:568px){
    .list-post-new li:nth-child(2){
        margin-top: 1rem;
    }
    .vu_w-50{
        width: 33%;
    }
    .footer-top-intro div p{
        margin: 1rem 0;
    }
    .footer-bottom div div div:last-child{
        margin-bottom: 0.5rem;
    }
    .copy-right div{
        padding-left: 15px;
    }
    
}

@media (max-width:602px) {
   
    .post-item.bg-light {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.7rem;
    }
    .list-post-new li:last-child{
        display: none;
    }
    .vu_d-smd-block{
        display: block !important;
    }
    p.h5{
        font-size: 1rem !important;
    }
    .owl-prev, .owl-next{
        bottom: 2rem !important;
    }
    iframe.iframe.iframe-smd {
        height: 245px !important;
    }
    .post-main-new .post-item{
        padding-top: 1rem;
    }
    .vu_w-100{
        width: 100% !important;
    }
    div.footer-top-intro div {
        width: 38rem !important;
        margin: 1rem auto 0 auto !important;
    }
    .vu_flex-wrap{
        flex-wrap: wrap;
    }
    .training.vu_w-50{
        width: 50% !important;
    }
    #vu_content {
        margin-top: 65px;
    }
    .header .opened-menu{
        top: -4px !important;
    }
    
}

@media (max-width:769px) {
   
    .menu-bottom ul li {
        font-size: 0.8rem !important;
    }
    .menu-bottom ul li:last-child{
        display: none;
    }
    .name-uni span {
        line-height: 1rem;
        font-size: 0.7rem;
    }
    .vu_d-md-none{
        display: none;
    }
    #logo img {
        width: 60px !important;
    }
    .menu-bottom ul li:last-child {
        display: inline-block;
    }
    .vu_justify-content-end{
        justify-content: end;
    }
    .vu_w-60{
        width: 60%;
        margin-right: 1rem;
    }
    .list-event > div{
        margin-bottom: 1.5rem !important;
    }
    .list-training li{
       display: inline-block;
       padding: 2px 10px;
    }
    .list-training{
        display: flex;
    }
    iframe.iframe {
        height: 168px !important;
    }
    .vu_d-md-none{
        display: none;
    }
    .social{
        right: 15px;
    }
    .post-title {
        line-height: 1.1;
        font-size: 1.1rem;
        text-align: justify;
        margin-bottom: 7px;
    }
    p.h5.mt-md-2 {
        margin-top: 0.8rem !important;
    }
    .footer-top-intro div {
        margin: 3rem auto 0 auto !important;
    }
    .list-notice li:first-child{
       display: none;
    }
   .vu_w-60 > span{
       margin-top: 3rem;
    }
    span.vu_mt-13{
        margin-top: 1.3rem !important;
    }
}

@media (max-width:993px) {
    #parallelogram{
        width: 40%;
    }
    input[id='search']{
        width: 80%;
    }
    .name-uni span {
        line-height: 1rem;
        font-size: 0.8rem;
    }
    .name-uni {
        padding-top: 4px;
        height: 36px;
    }
    #logo img {
        width: 48px;
        margin-top: -6px;
    }
    .menu-bottom ul li{
        font-size: 0.9rem;
    }
    .list-notice li:first-child{
        display: none;
    }
    .list-notice li{
        margin-bottom: 0.9rem !important;
    }
    .list-training li{
        margin-bottom: 0.2rem !important;
    }
    p.h5{
        font-size: 1.07rem;
        margin-top: 2rem !important;
    }
    iframe{
        height: 221px !important;
    }
    .vu_mt-15{
        margin-top: 1.5rem !important;
    }
    .footer-top-intro div {
        padding: 1rem 0rem;
        width: 44rem;
        margin: 5rem auto 0 auto;
    }
    .vu_d-md-flex{
        display: flex;
    }
    .vu_justify-content-md-between{
        justify-content: space-between;
    }
}

@media (max-width:1201px) {
    html {
        font-size: 14px;
    } 
    .list-notice li:last-child{
        display: none;
    }
    .list-notice li{
        margin-bottom: 0.7rem;
    }
    .list-training > li{
        margin-bottom: 0.4rem !important;
    }
    iframe{
        height: 271px;
    }

    .vu_mt-32{
        margin-top: 3.2rem;
    }
}


@media all and (min-width: 20em) {
    
    .showCurrentDate {
        font-size: 12px;
    }
   
    .mobile-remove-space {
        display: none;
    }
    .mobile-view-logo {
        display: block;
        margin-top: -10px;
    }
    
    .menu-top-container {
        width: 100%;
        float: left;
    }
    .nav-item {
        border-right: 0;
    }
    .vu-header-bottom {
        display: none;
    }
    .vu_dp-md-none {
        display: none;
    }
    #vu-header-top {
        height: 56px;
        margin-bottom: 1px;
    }
}

@media all and (min-width: 40em) {
    
    .showCurrentDate {
        font-size: 15px;
    }
    
    .mobile-remove-space {
        display: block;
    }
    
    .menu-top-container {
        width: 70.5%;
        margin-top: -10px;
        float: left;
    }
    .nav-item:not(li:first-child,
    li:last-child) {
        border-right: 1px solid white;
    }
    .vu-header-bottom {
        display: block;
    }
    .vu_dp-md-none {
        display: block;
    }
    .mobile-view-logo {
        display: none;
    }
    #vu-header-top {
        height: 45px;
    }
}



/*  VU bootstrap added   */

.bg-primary {
    background-color: var(--vu_color-blue) !important;
}

.nav-link {
    color: white !important;
    font-size: 12px;
    line-height: 1px;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.nav-link:hover {
    color: yellow !important;
}

.navbar-nav {
    padding: 0 !important;
}

.icon-bank-top {
    color: white;
    font-size: 10px;
    padding-top: 4px;
}

.dropdown-toggle::after {
    display: none;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link,
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}